doctype html
html(lnag='en')
	head
		title= title
		link(href='/libs/bootstrap/dist/css/bootstrap.css', rel='stylesheet')
	body
		div.container
			block content
	
		script(src='/libs/jquery/dist/jquery.js')
		script(src='/libs/bootstrap/dist/js/bootstrap.js')
